.foo {

  color: red;
  background-color: green;
  font-size: 12.123132px;
  position: relative;
  display: flex;
}

.bar {
  color: red;
  background-color: green;
  font-size: 12.123132px;
  position: relative;
  display: flex;
}